/**
* ----------------------------------------
* animation COEUR
* ----------------------------------------
*/
@-webkit-keyframes heart-scale {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes heart-scale {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/**
* ----------------------------------------
* animation PRIX
* ----------------------------------------
*/
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(60px);
            transform: translateX(60px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(60px);
            transform: translateX(60px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/**
* ----------------------------------------
* animation VALIDATION
* ----------------------------------------
*/
@-webkit-keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}
@keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes Fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes Fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/**
* ----------------------------------------
* animation LOADER
* ----------------------------------------
*/
@-webkit-keyframes Scale-loader {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes Scale-loader {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes Spin-loader_cercle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes Spin-loader_cercle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes Scale-loader_point {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
@keyframes Scale-loader_point {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
@-webkit-keyframes fade-out-page_loader {
  0% {
    opacity: 0.9;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes fade-out-page_loader {
  0% {
    opacity: 0.9;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------BASE-----*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

h1,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: unset;
}

.nouveau {
  position: absolute;
  top: 13px;
  right: 11px;
  height: 30px;
  width: 80px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #119071;
  background-color: #99e2d0;
}

.bouton_explorer {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  position: relative;
  z-index: 1;
  height: 50px;
  width: 220px;
  font-size: 12px;
  color: white;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: unset;
  -webkit-box-shadow: 0px 10px 15px 1px RGBA(184, 184, 184, 0.6);
          box-shadow: 0px 10px 15px 1px RGBA(184, 184, 184, 0.6);
}

.bouton_explorer::after {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(#ff93e1, #a16be0);
  -webkit-box-shadow: 0px 10px 15px 1px RGBA(184, 184, 184, 0.9);
          box-shadow: 0px 10px 15px 1px RGBA(184, 184, 184, 0.9);
  z-index: -2;
  opacity: 0;
}

.bouton_explorer:hover::after {
  opacity: 1;
}

.commander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.commander_bouton {
  position: relative;
  height: 50px;
  width: 190px;
  font-size: 14px;
  color: white;
  border-radius: 25px;
  -webkit-box-shadow: 5px 5px 12px #eaeaea;
          box-shadow: 5px 5px 12px #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  border: unset;
  margin-top: 50px;
  z-index: 1;
}
.commander_bouton::after {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(#ff93e1, #a16be0);
  -webkit-box-shadow: 0px 10px 15px 1px RGBA(184, 184, 184, 0.9);
          box-shadow: 0px 10px 15px 1px RGBA(184, 184, 184, 0.9);
  z-index: -1;
  opacity: 0;
}
.commander_bouton:hover::after {
  opacity: 1;
}

.menu_item_prix {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu_item_prix .menu_item_validation {
  white-space: nowrap;
  overflow: hidden;
  background-color: #99e2d0;
  color: white;
}
.menu_item_prix .menu_item_validation .fa-circle-check {
  white-space: nowrap;
  overflow: hidden;
  display: none;
}
.menu_item_prix .prix {
  font-size: 14px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0 15px;
}

.menu_item:hover .menu_item_prix {
  width: 120px;
}
.menu_item:hover .prix {
  -webkit-animation: slide-left 0.5s alternate linear;
          animation: slide-left 0.5s alternate linear;
  width: 60px;
}
.menu_item:hover .menu_item_validation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 0 20px 20px 0;
  background-color: #99e2d0;
  color: white;
  -webkit-animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 alternate;
          animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 alternate;
}
.menu_item:hover .fa-circle-check {
  display: unset;
  -webkit-animation: rotate-center 0.3s linear 100ms both;
          animation: rotate-center 0.3s linear 100ms both;
}

.coeur .fa-regular {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 1;
}
.coeur .fa-solid {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: -1;
}

.coeur:hover .fa-regular {
  position: absolute;
  z-index: -1;
}
.coeur:hover .fa-solid {
  position: relative;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: heart-scale 300ms cubic-bezier(0.5, 1, 0.89, 1) 0s 1 normal forwards;
          animation: heart-scale 300ms cubic-bezier(0.5, 1, 0.89, 1) 0s 1 normal forwards;
}

.commander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.commander_bouton {
  height: 50px;
  width: 190px;
  font-size: 14px;
  color: white;
  border-radius: 25px;
  -webkit-box-shadow: 5px 5px 12px #eaeaea;
          box-shadow: 5px 5px 12px #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  border: unset;
  margin-top: 50px;
}

.page_loader {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  -webkit-animation: fade-out-page_loader 3000ms ease-in-out 0s 1 normal forwards;
          animation: fade-out-page_loader 3000ms ease-in-out 0s 1 normal forwards;
}

.loader {
  -webkit-animation: Scale-loader 3s ease 0s 1 normal none;
          animation: Scale-loader 3s ease 0s 1 normal none;
}

.loader_cercle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #9356dc;
  border-bottom: 16px solid #ff79da;
  width: 120px;
  height: 120px;
  -webkit-animation: Spin-loader_cercle 2s linear infinite;
          animation: Spin-loader_cercle 2s linear infinite;
}

.loader_point {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #99e2d0;
  -webkit-animation: Scale-loader_point 600ms ease-in-out 100ms infinite alternate none;
          animation: Scale-loader_point 600ms ease-in-out 100ms infinite alternate none;
}

header {
  height: 63px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo {
  height: 29px;
  width: 167px;
}
header .fa-arrow-left {
  font-size: 16px;
  position: absolute;
  left: 23px;
}

footer {
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 6%;
  background-color: #353535;
  color: white;
  font-size: 14px;
}

.footer_logo {
  font-family: hrikhand, sans-serif;
  font-size: 16px;
  padding: 25px 0 22px 0;
}

.footer_proposer {
  width: 80%;
  height: 24px;
  padding-bottom: 10px;
}
.footer_proposer .fa-utensils {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer_partenaire {
  width: 80%;
  height: 24px;
  padding-bottom: 10px;
}
.footer_partenaire .fa-handshake-angle {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer_mention {
  width: 80%;
  height: 24px;
  padding-bottom: 10px;
}

.footer_contact {
  width: 80%;
  height: 24px;
  padding-bottom: 10px;
}

.restaurant_image {
  height: 265px;
  margin-bottom: -35px;
}
.restaurant_image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.restaurant {
  position: relative;
  background-color: #f6f6f6;
  width: 100%;
  padding: 35px 0 80px 0;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.restaurant_nom {
  font-family: Shrikhand, sans-serif;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10% 0 5%;
}

.menu_entrees {
  -webkit-animation: Fade-in 500ms ease 200ms 1 normal forwards;
          animation: Fade-in 500ms ease 200ms 1 normal forwards;
}

.menu_plats {
  -webkit-animation: Fade-in 500ms ease 400ms 1 normal forwards;
          animation: Fade-in 500ms ease 400ms 1 normal forwards;
}

.menu_desserts {
  -webkit-animation: Fade-in 500ms ease 600ms 1 normal forwards;
          animation: Fade-in 500ms ease 600ms 1 normal forwards;
}

.menu {
  padding: 0 6%;
}
.menu h2 {
  font-size: 16px;
  font-weight: unset;
  position: relative;
  padding: 22px 0 10px 0;
}
.menu h2::after {
  content: "";
  display: block;
  position: absolute;
  top: 45px;
  width: 40px;
  border-bottom: 3px solid #99e2d0;
}

.menu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 70px;
  margin-top: 15px;
  -webkit-box-shadow: 5px 5px 12px #eaeaea;
          box-shadow: 5px 5px 12px #eaeaea;
  border-radius: 20px;
  background-color: white;
}
.menu_item_plat {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu_item h3 {
  font-size: 16px;
  padding: 15px 0 4px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu_item_accompagnements {
  font-size: 14px;
  padding: 4px 0 14px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  font-size: 16px;
  -webkit-box-shadow: inset 0 20px 10px -20px #353535;
          box-shadow: inset 0 20px 10px -20px #353535;
  background-color: #eaeaea;
  color: #383838;
}

.fa-location-dot {
  margin-right: 18px;
}

#fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 376px;
}
#fonctionnement h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 50px 0 30px 6%;
}

.bloc_fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 276px;
}

.fonctionnement_etape {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-box-shadow: 5px 5px 12px #eaeaea;
          box-shadow: 5px 5px 12px #eaeaea;
  border-radius: 20px;
  height: 70px;
  width: 88%;
  margin: 11px 6% 11px 9%;
}
.fonctionnement_etape .numero {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -12px;
  top: 24px;
  height: 24px;
  width: 24px;
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
}
.fonctionnement_etape .fa-solid {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 26px;
  left: 10%;
  color: #909090;
}
.fonctionnement_etape p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 16px;
  margin-left: 25px;
}
.fonctionnement_etape:hover {
  background-color: #f5edff;
}
.fonctionnement_etape:hover .fa-solid {
  color: #9356dc;
}

#explications {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 290px;
  width: 100%;
}
#explications h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 80%;
  height: 72px;
  font-size: 24px;
  font-weight: bold;
  padding: 0 10% 24px 10%;
}
#explications p {
  text-align: center;
  font-size: 14px;
  padding: 0 10% 36px 10%;
}

.explorer {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  height: 50px;
  width: 220px;
  font-size: 12px;
  color: white;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#restaurants {
  background-color: #f6f6f6;
  width: 100%;
}
#restaurants h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 60px 0 28px 6%;
}

.cartes_restaurants {
  width: 100%;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carte_restaurant {
  height: 250px;
  width: 88%;
  margin-bottom: 18px;
  -webkit-box-shadow: 5px 5px 12px #eaeaea;
          box-shadow: 5px 5px 12px #eaeaea;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.carte_restaurant_image {
  position: relative;
  height: 174px;
  width: 100%;
}
.carte_restaurant_image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.carte_restaurant_corps {
  height: 76px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.carte_restaurant_titre {
  font-size: 16px;
  font-weight: bold;
  padding: 18px 0 8px 4%;
}
.carte_restaurant_lieu {
  font-size: 14px;
  padding: 0 0 18px 4%;
}
.carte_restaurant .coeur {
  position: absolute;
  top: 24px;
  right: 24px;
}

/* -------TABLET--------*/
@media screen and (min-width: 769px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 6%;
    background-color: #353535;
    color: white;
    font-size: 14px;
  }
  footer .footer_logo {
    padding: 0 0 10px 0;
  }

  #restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #restaurants h1 {
    padding-left: 0;
  }

  .cartes_restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 88%;
    max-width: 1000px;
    padding: 0 6%;
  }
  .cartes_restaurants .carte_restaurant {
    width: 48%;
  }

  #fonctionnement {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #fonctionnement h1 {
    padding-left: 0;
  }

  .bloc_fonctionnement {
    width: 88%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 6%;
  }

  .fonctionnement_etape {
    width: 32%;
    margin: 11px 0 11px 0;
    font-size: 15px;
  }

  .restaurant {
    padding: 35px 10% 80px 10%;
    width: 80%;
    margin: 0 10%;
  }
}
/* -------DESKTOP--------*/
@media screen and (min-width: 992px) {
  .carte {
    padding: 0 6%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .carte .menu {
    width: 30%;
    padding: unset;
  }

  #restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #restaurants h1 {
    padding-left: 0;
  }

  .cartes_restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 88%;
    max-width: 1000px;
    padding: 0 6%;
  }
  .cartes_restaurants .carte_restaurant {
    width: 48%;
  }

  .fonctionnement_etape {
    font-size: 16px;
  }

  .menu_item:hover .prix {
    -webkit-animation: slide-left 0.5s alternate linear;
            animation: slide-left 0.5s alternate linear;
    width: 60px;
  }
  .menu_item:hover .menu_item_validation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60px;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 0 20px 20px 0;
    background-color: #99e2d0;
    color: white;
    -webkit-animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 alternate;
            animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 alternate;
  }
  .menu_item:hover .fa-circle-check {
    display: unset;
    -webkit-animation: rotate-center 0.3s linear 100ms both;
            animation: rotate-center 0.3s linear 100ms both;
  }
}/*# sourceMappingURL=main.css.map */