@import "../utils/_variables";
@import"../utils/mixins";
@import"../utils/fonctions";

.nouveau {
    position: absolute;
    top: 13px;
    right: 11px;
    height: 30px;
    width: 80px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #119071;
    background-color: $color-tertiary;

}

.bouton_explorer {
    @include gradient;
    position: relative;
    z-index: 1;
    height: 50px;
    width: 220px;
    font-size: 12px;
    color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: unset;
    box-shadow: 0px 10px 15px 1px RGBA(184, 184, 184, 0.6);

}

.bouton_explorer::after {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    @include gradient-light;
    box-shadow: 0px 10px 15px 1px RGBA(184, 184, 184, 0.9);
    z-index: -2;
    opacity: 0
}

.bouton_explorer:hover::after {
    opacity: 1
}

.commander {
    @include flex-center;

    &_bouton {
        position: relative;
        height: 50px;
        width: 190px;
        font-size: 14px;
        color: white;
        border-radius: 25px;
        box-shadow: 5px 5px 12px #eaeaea;
        @include flex-center;
        @include gradient;
        border: unset;
        margin-top: 50px;
        z-index: 1;
    }

    &_bouton::after {
        position: absolute;
        content: "";
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        @include gradient-light;
        box-shadow: 0px 10px 15px 1px RGBA(184, 184, 184, 0.9);
        z-index: -1;
        opacity: 0
    }

    &_bouton:hover::after {
        opacity: 1;
    }
}

.menu_item_prix {
    font-weight: bold;
    @include flex-center;
    
}
.menu_item_validation {
    white-space: nowrap;
    overflow: hidden;
    .fa-circle-check{
    white-space: nowrap;
    overflow: hidden;
    display: none;
    } 
}
.prix {
    font-size: 14px;
    font-weight: bold;
    @include flex-center;
    padding: 0 20px 0 15px;
}

.menu_item_prix:hover {

    .prix {    
        animation: slide-left 0.5s alternate linear ;
    }
    .menu_item_validation {
       
        @include flex-center;
        width: 60px;
        height: 100%;
        white-space: nowrap;
        overflow: hidden;
        border-radius: 0 20px 20px 0;
        background-color: $color-tertiary;
        color: white;
        animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s 1 alternate  ;
    }
    .fa-circle-check{
        display: unset;
        animation: rotate-center 0.3s linear 100ms both;
    }
}



.coeur {
    .fa-regular {
        position: relative;
        z-index: 1;
    }

    .fa-solid {
        position: absolute;
        z-index: -1;
    }
}

.coeur:hover {
    .fa-regular {
        position: absolute;
        z-index: -1;
    }

    .fa-solid {
        position: relative;
        z-index: 1;
        @include gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: heart-scale 300ms cubic-bezier(0.5, 1, 0.89, 1) 0s 1 normal forwards;
    }

}