@import "../utils/_variables";
@import"../utils/mixins";

.nouveau{
    position:absolute;
    top:13px;
    right:11px;
    height: 30px;
    width: 80px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#119071;
    background-color:$color-tertiary;

}
.commander{
    @include flex-center;
    &_bouton{
    height:50px;
    width: 190px;
    font-size: 14px; 
    color: white;
    border-radius: 25px;
    box-shadow: 5px 5px 12px #eaeaea;
    @include flex-center;
    @include gradient;
    border: unset;
    margin-top:50px;
    }

}