@import "../utils/_variables";
@import"../utils/mixins";

.localisation {
    @include flex-center;
    height: 50px;
    font-size: 16px;
    box-shadow: inset 0 20px 10px -20px #353535;
    background-color: #eaeaea;
    color: #383838;
}

.fa-location-dot {
    margin-right: 18px;
}

#Fonctionnement {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 20px;
        font-weight: bold;
        padding: 50px 0 30px 6%;
    }

}

.fonctionnement_etape {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 5px 5px 12px #eaeaea;
    border-radius: 20px;
    height: 70px;
    margin: 11px 6% 11px 9%;

    .numero {
        position: absolute;
        @include flex-center;
        left: -12px;
        top: 24px;
        height: 24px;
        width: 24px;
        background-color: $color-primary;
        color: white;
        border-radius: 50%;
    }

    .fa-solid {
        position: absolute;
        top: 24px;
        left: 10%;
        color: #909090
    }

    &:hover {
        background-color: #f5edff;

        .fa-solid {
            color: $color-primary;
        }
    }
}

#explications {
    background-color: $color-light-background;
    @include flex-center;
    flex-direction: column;
    height: 290px;

    h1 {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        padding: 0 10% 24px 10%;
    }

    p {
        text-align: center;
        font-size: 14px;
        padding: 0 10% 36px 10%;

    }
}



#restaurants {
    background-color: $color-light-background;

    h1 {
        font-size: 20px;
        font-weight: bold;
        padding: 60px 0 28px 6%;
    }
}

.cartes_restaurants {
    width: 100%;
    background-color: $color-light-background;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carte_restaurant {
    height: 250px;
    width: 88%;
    margin-bottom: 18px;
    box-shadow: 5px 5px 12px #eaeaea;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    &_image {
        position: relative;
        height: 174px;
        width: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
    }

    &_corps {
        height: 76px;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &_titre {
        font-size: 16px;
        font-weight: bold;
        padding: 18px 0 8px 4%;
    }

    &_lieu {
        font-size: 14px;
        padding: 0 0 18px 4%;
    }

    .coeur{
    position: absolute;
    top: 24px;
    right: 24px;
    }
    

}
