#restaurants {
    background-color: $color-light-background;

    h1 {
        font-size: 20px;
        font-weight: bold;
        padding: 60px 0 28px 6%;
    }
}



.carte_restaurant {
    height: 250px;
    width: 88%;
    margin-bottom: 18px;
    box-shadow: 5px 5px 12px #eaeaea;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    &_image {
        position: relative;
        height: 174px;
        width: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
    }

    &_corps {
        height: 76px;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &_titre {
        font-size: 16px;
        font-weight: bold;
        padding: 18px 0 8px 4%;
    }

    &_lieu {
        font-size: 14px;
        padding: 0 0 18px 4%;
    }

    .coeur {
        position: absolute;
        top: 24px;
        right: 24px
    }

}