

@mixin gradient {
    background: linear-gradient($color-secondary, $color-primary)
}

@mixin gradient-light {
    background: linear-gradient($color-secondary-light, $color-primary-light)
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}