@import "../utils/_variables";
@mixin gradient {
    background:linear-gradient( $color-secondary,$color-primary)
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
