$color-primary:#9356dc;
$color-primary-light:lighten($color-primary, 5%);
$color-secondary:#ff79da;
$color-secondary-light:lighten($color-secondary, 5%);
$color-tertiary:#99e2d0;
$color-footer:#353535;
$color-light-background:#f6f6f6;
$title-police: Shrikhand,
sans-serif;
$text-police: Roboto,
sans-serif;
$carte-child: 1,
2,
3,
4;